

.image-contain {
    left: 0;
    top: 0;
    position: relative;
   
    
  }
  .image {
    width: 100%;
    height: 700px;
    margin-bottom: 30px ;
  }

  .text {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    left: 580px;
    right: 500px;
    top: 330px;
  }

  .opis {
    font-size: 18px;
    flex: 1;
  }

  .text-contain{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
  }
  .button {
    
    width: 300px;
  }

  .join-button {
    
    background-color: white;
    color: rgb(25, 161, 12);
    border-color: rgb(25, 161, 12);
    border-style: solid;
    border-radius: 24px;
    border-width: 1px;
    height: 40px;
    width: 150px;
    font-weight:bold;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0,3s
      colour 0,3s;
   
    
  }