

:root {
  --success-color: #23cc71;
  --error-color: #e74c3c;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #2fc72f;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}


.join-button { 
  background-color: white;
  color: rgb(25, 161, 12);
  border-color: rgb(25, 161, 12);
  border-style: solid;
  border-radius: 24px;
  border-width: 1px;
  height: 40px;
  width: 155px;
  font-weight:bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0,3s
    colour 0,3s;
 
  }

.join-button:hover {
  background-color: rgb(25, 161, 12);
  color: white;
}

.join-button:active {
  opacity: 0,4;   
}

.button-div {
  display: flex;
  justify-content: center;
}

.register{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}